@import "./colors.scss";

.form {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;

  .formGroupsContainer {
    display: flex;
    column-gap: 1rem;

    .formGroup {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      label {
        color: $smokey-grey;
        font-size: 1rem;
        letter-spacing: 2px;
      }

      input {
        border-radius: 3px;
        border: 1px solid $light-grey;
        color: $off-black;
        font-size: 1.5rem;
        font-weight: 800;
        outline: none;
        padding: 1rem;
        transition: all 0.2s ease-in;
        width: 100%;
      }

      input::placeholder {
        color: $smokey-grey;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.7px;
        opacity: 0.7;
      }

      input:focus {
        border-color: $purple;
      }

      input::-webkit-inner-spin-button {
        appearance: none;
      }

      span {
        color: $light-red;
        // display: none;
        font-size: 0.7rem;
        font-style: italic;
        letter-spacing: 0.8px;
      }
    }
  }

  .buttonContainer {
    position: relative;

    hr {
      border: none;
      height: 1px;
      background-color: $off-white;
    }

    button {
      align-items: center;
      background-color: $purple;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: flex;
      height: 4.5rem;
      justify-content: center;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: all 0.2s ease-in;
      transform: translate(-50%, -50%);
      width: 4.5rem;

      img {
        width: 60%;
      }
    }

    button:hover {
      background-color: $off-black;
    }
  }
}

@media screen and (min-width: 500px) {
  .form {
    .formGroupsContainer {
      display: flex;
      column-gap: 1rem;

      .formGroup {
        span {
          // display: none;
          font-size: 0.9rem;
        }
      }
    }
  }
}
